@import "../../theme.scss";

:host{
  display: flex;
  position: fixed;
  padding: 00px 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: beige;
  flex-direction: column;
  overflow: auto;
}

section{
    display: flex;
    width: 100%;
    top: 0px;
    left: 0px;
    height: auto;
    z-index: 50;
    position: sticky;
    background-color: beige;
}

form{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"]{
    display: none;
}

label[for="video"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 5px dashed $sandy-brown;
    border-radius: 100%;
    margin-bottom: 35px;
    margin-top: 45px;
    cursor: pointer;
}

label i{
    font-size: 2em;
    color: $sandy-brown;
}

label[for="user"]{
    font-size: 0.9em;
    margin-top: 10px;
    color: $outer-space;
    text-transform: uppercase;
    font-weight: bold;
}

select{
    height: 45px;
    width: calc(100% - 40px);
    margin-top: 30px;
    border-radius: 8px;
    border: 3px dashed $sandy-brown;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0px 10px;
    display: none;
}

button{
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: $white;
    border: 3px dashed $white;
    margin-top: 40px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: $sandy-brown;
}

button i{
    font-size: 1.4em;
}

button span{
    margin-left: 15px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.09em;
}

.error{
    font-size: 0.9em;
    color: $red;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.loader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

.loader .loader-bar{
    height: 100%;
    position: absolute;
    left: 0px;
    border-radius: 5px;
    background-color: $sandy-brown;
}