@import "../../../theme.scss";


:host{
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

nav button{
  height: 40px;
  width: 40px;
  background-color: $isabelline;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

nav button i{
  font-size: 1.8em;
}

nav span{
  display: inline-block;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 20px;
}
