<div class="item-container">
  <app-nav-bar title="Admin" (clicked)="goBack()" />
  <a href="/admin-message">
    <span>
      <i class="bi bi-chat-dots-fill"></i>
    </span>
    <p>Envoyer un message à un patient</p>
  </a>
  <a href="/create-user">
    <span>
      <i class="bi bi-person-vcard-fill"></i>
    </span>
    <p>Créer un nouvel utilisateur</p>
  </a>
  <a href="/folders">
    <span>
      <i class="bi bi-play-circle-fill"></i>
    </span>
    <p>Ajouter un exercise à un patient</p>
  </a>
  <a href="/folders">
    <span>
      <i class="bi bi-folder-fill"></i>
    </span>
    <p>Consulter le dossier d'un patient</p>
  </a>
</div>
