<nav>
  <button (click)="backToHome()">
    <i class="bi bi-arrow-left-short"></i>
  </button>
  <span> {{receiver}} </span>
</nav>
<main>
  <section class="no-message-container" *ngIf="messages.length == 0">
    <i class="bi bi-chat-quote-fill"></i>
    <span> Pas de messages pour le moment</span>
  </section>
  <section class="message-container">
    <section class="message-container-content">
      <div
        class="message-item"
        *ngFor="let item of messages; index as i"
        [class.other]="!isMe(item)"
        [class.nested]="isNested(item, i)"
      >
        <i class="bi bi-person-circle"></i>
        <div class="message-item-content">
          <p>{{item.body}}</p>
          <span>{{getHourFromDate(item.createdAt)}}</span>
        </div>
      </div>

      <!--div class="message-item other">
        <i class="bi bi-person-circle"></i>
        <div class="message-item-content">
          <p>ça va?</p>
          <span>12:00</span>
        </div>
      </div-->
      
    </section>
  </section>
</main>
<footer>
  <form>
    <input type="text" name="body" id="body" placeholder="Az: " [(ngModel)]="content" (submit)="$event.preventDefault()" />
    <button type="submit" (click)="sendMessage()" [class.active]="content.trim().length >= 3">
      <i class="bi bi-send-fill"></i>
    </button>
  </form>
</footer>
